:root{
    --primary:#0f172a;
    --gold:#c9a96e;
    --light:#f8fafc;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:var(--light);
    color:#1e293b;
    line-height:1.6;
}

/* HEADER */
header{
    background:var(--primary);
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 8%;
    position:sticky;
    top:0;
}

.logo{
    font-weight:bold;
    letter-spacing:2px;
}

nav a{
    color:white;
    margin-left:20px;
    text-decoration:none;
}

nav a:hover{
    color:var(--gold);
}

/* HERO */
.hero{
    height:90vh;
    background:
    linear-gradient(rgba(15,23,42,0.85), rgba(15,23,42,0.85)),
    url('images/hero.jpg') center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero h1{
    font-size:3rem;
    color:var(--gold);
}

.hero p{
    margin-top:10px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:var(--gold);
    color:black;
    text-decoration:none;
    font-weight:bold;
}

.btn:hover{
    opacity:0.8;
}

/* SERVICES */
.services{
    padding:80px 8%;
    text-align:center;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
    margin-top:40px;
}

.card{
    background:white;
    padding:30px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.card h3{
    color:var(--primary);
}

/* ABOUT PREVIEW */
.about-preview{
    padding:80px 8%;
    text-align:center;
    background:#e2e8f0;
}

/* CTA */
.cta{
    padding:80px 8%;
    text-align:center;
    background:var(--primary);
    color:white;
}

/* FOOTER */
footer{
    background:#111827;
    color:white;
    text-align:center;
    padding:30px 8%;
}

/* WHATSAPP BUTTON */
.whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25D366;
    color:white;
    padding:12px 20px;
    text-decoration:none;
    border-radius:50px;
    font-weight:bold;
}

/* RESPONSIVE */
@media(max-width:768px){
    header{
        flex-direction:column;
    }

    nav{
        margin-top:10px;
    }

    .hero h1{
        font-size:2rem;
    }
}

.contact-section{
padding:80px 8%;
}

.contact-container{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
margin-top:30px;
}

.contact-form input,
.contact-form textarea{
width:100%;
padding:12px;
margin-bottom:15px;
border:1px solid #ccc;
}

.contact-form button{
background:var(--gold);
border:none;
padding:12px;
font-weight:bold;
cursor:pointer;
}

.map{
margin-top:40px;
}

@media(max-width:768px){
.contact-container{
grid-template-columns:1fr;
}
}

.consult{
text-align:center;
padding:120px 20px;
}